@media (max-width: 1300px){
    .container-index-1 {
        margin-top: 160px;
    }
}

.index-page h1{
    color: var(--text-color-light);
    position: absolute;
    bottom: 0; 
    left: 11%;
  }

@media (max-width: 900px){
    .index-page h1{
        top: 160px;
    }
}

/* Exhibition spaces*/
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);
    padding: 5px;
    max-width: 1300px;
}

@media (max-width:1350px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-item img {
        height: 800px;
    }
}
@media (max-width:720px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .wrapper {
        max-width: 200px;
    }
}

.grid-item img {
    width: 350px;
    height: 350px;
    object-fit:cover;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.grid-item {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1080) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
}

/* -------------------------------------- */
.container-index-2 {
    position: relative;
    width: 100%;
}

/* Hover image */
.image-container {
    position: relative;
    width: 100%;
}

@media (min-width:900px) {
    .image-container {
        height: 850px;
    }
}

.regular-image {
    display: block;
}

.hover-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover .hover-image {
    opacity: 1;
}

/* ____________________________________ */

.poster-img {
    width: 100%;
    max-width: 800px;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:570px){
    .flex-container{
        flex-direction: column-reverse;
    }
}

.flex-container a {
    align-self: flex-start;
}

.container-img {
    max-width: 500px;
    height: 500px;
    object-fit: cover;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.grid-container-small {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
}

.grid-container section {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
}

@media (max-width: 1350px) {
    .grid-container-small {
grid-template-columns: 1fr;

    }
}