<footer class="footer">
    <div id="footer-top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 319">
            <path fill="#584c4c" fill-opacity="1"
                d="M0,64L288,224L576,160L864,128L1152,192L1440,128L1440,320L1152,320L864,320L576,320L288,320L0,320Z">
            </path>
        </svg>
    </div>
    <section class="footer-content">
        <section class="footer-section contact-info">
            <p><a href="../pages/visit.html" aria-label="See opening hours page"><span>See opening hours</span></a>
            </p>
            <p>
                <a href="mailto:info@ScienceMuseum.com" aria-label="Send an email to Science Museum">
                    <i class="fa-solid fa-envelope"></i>
                    info@ScienceMuseum.com</a>
            </p>
            <p><i class="fa-solid fa-phone" aria-label="Call Science Museum"></i>+01 234 56 789</p>
            <p>
                <a
                    href="https://www.google.com/maps/space/moon/@-66.5242396,58.1164315,6632649m/data=!3m1!1e3?entry=ttu&g_ep=EgoyMDI1MDUyOC4wIKXMDSoASAFQAw%3D%3D">
                    <i class="fa-solid fa-location-dot"></i>Fairyland 101, The Moon</a>
            </p>
            <div class="social-icons">
                <a href="https://www.instagram.com" aria-label="Visit us on Instagram"><i
                        class="fa-brands fa-instagram fa-lg"></i></a>
                <a href="https://www.facebook.com" aria-label="Visit us on Facebook"><i
                        class="fa-brands fa-facebook fa-lg"></i></a>
                <a href="https://www.pinterest.com" aria-label="Visit us on Pinterest"><i
                        class="fa-brands fa-pinterest"></i></a>
                <a href="https://www.twitter.com" aria-label="Visit us on Twitter"><i
                        class="fa-brands fa-twitter"></i></a>
            </div>
        </section>
        <section class="footer-section logo-container">
            <a href="../index.html">
                <img src="../images/logo.png"
                    alt="Logo of the Community Science Museum featuring a colorful rocket, abstract shapes, and planets on a dark gray background."
                    class="logo-footer-image">
            </a>
            <div class="header-title">
                <a href="../index.html">
                    <p class="header-title-top">
                        COMMUNITY
                    </p>
                    <p class="header-title-mid">
                        SCIENCE
                    </p>
                    <p class="header-title-bottom">
                        MUSEUM
                    </p>
                </a>
            </div>
        </section>
        <section class="footer-section newsletter">
            <div>
                <h3>Sign up for newsletter</h3>
                <form>
                    <input aria-label="Enter your email" name="email" autocomplete="email" type="email"
                        placeholder="Your email">
                    <button type="submit" name="submit" aria-label="Subscribe to newsletter">Subscribe</button>
                </form>
            </div>
            <a href="../pages/visit.html" aria-label="Visit the Science Museum">
                <p><br>&copy; Malin Skrettingland<br>All rights reserved</p>
            </a>
        </section>
    </section>
</footer>