<img src="../images/header_small_space.jpg"
    alt="Illustration of a rocket launch with planets, atoms, and colorful clouds in a futuristic style."
    class="header-background">
<section class="nav-container">
    <ul class="navbar-left navbar-list">
        <li><a href="../index.html"><span>Home</span></a></li>
        <li><a href="../pages/explore.html"><span>Explore</span></a></li>
        <li><a href="../pages/exhibition_space_cosmology.html"><span>Exhibition</span></a></li>
    </ul>
    <div class="header-title">
        <p class="header-title-top">
            COMMUNITY
        </p>
        <p class="header-title-mid">
            SCIENCE
        </p>
        <p class="header-title-bottom">
            MUSEUM
        </p>
    </div>
    <ul class="navbar-right navbar-list">
        <li><a href="../pages/night_of_museum.html"><span>Events</span></a></li>
        <li><a href="../pages/visit.html"><span>Visit</span></a></li>
        <li><a href="../pages/get_involved.html"><span>Get involved</span></a></li>
    </ul>
</section>
<section aria-label="Hamburger menu" class="hamburger-header">
    <input type="checkbox" id="menu-checkbox">
    <label for="menu-checkbox" aria-label="Open menu"><i class="fas fa-bars"></i></label>
    <div class="header-title">
        <p class="header-title-top">
            COMMUNITY
        </p>
        <p class="header-title-mid">
            SCIENCE
        </p>
        <p class="header-title-bottom">
            MUSEUM
        </p>
    </div>
    <a href="../index.html"><img src="../images/logo.png"
            alt="Logo of the Community Science Museum featuring a colorful rocket, abstract shapes, and planets on a dark gray background."
            class="logo-footer-image"></a>
    <ul class="navbar-list">
        <li><a href="../index.html"><span>Home</span></a></li>
        <li><a href="../pages/explore.html"><span>Explore</span></a></li>
        <li><a href="../pages/exhibition_space_cosmology.html"><span>Exhibition</span></a></li>
        <li><a href="../pages/night_of_museum.html"><span>Events</span></a></li>
        <li><a href="../pages/visit.html"><span>Visit</span></a></li>
        <li><a href="../pages/get_involved.html"><span>Get involved</span></a></li>
    </ul>
</section>